<div class="user-profile"
    <div class="profile row">
        <div class="col-md-4 avatar">
            <div class="wrapper">
                <img src="http://s3.amazonaws.com/rapgenius/1358091918_Henry_Winkler_Fonz_290x400.jpg"
            </div>
        </div>

        <div class="basic-info">
            <div class="user-wrapper">
                <h2 class="username">dancorpx</h2>
                <a class="edit-profile">
                    <button>Edit Profile</button>
                </a>
            </div>
            <ul class="posts">
                <li><span>12</span> posts</li>
                <li><span>193</span> followers</li>
                <li><span>145</span> following</li>
            </ul>
            <h2 class="name">Dan Curtis</h2>
            <a class="website">dancurtis.xyz</a>
        </div>
    </div>
</div>

<div class="user-tabs">
    <a class="tab active" href="">
        <i class="fa fa-th"></i>
        POSTS 
    </a>
    <a class="tab" href="">
        <i class="fa fa-tv"></i>
        IGTV 
    </a>
    <a class="tab" href="">
        <i class="fa fa-bookmark"></i>
        SAVED 
    </a>
    <a class="tab" href="">
        <i class="fa fa-tag"></i>
        TAGGED
    </a>
</div>
<div class="user-images">
  <div class="wrapper">
    <img src="http://www.aoxingou.com/images/201602/goods_img/551_G_1454271775778.jpg">
  </div>
  <div class="wrapper">
    <img src="http://img4.imgtn.bdimg.com/it/u=1012495131,482168803&fm=26&gp=0.jpg">
  </div>
  <div class="wrapper">
    <img src="http://dealer2.autoimg.cn/dealerdfs/g7/M00/CB/E6/620x0_1_q87_autohomedealer__wKgHzlhZzw2AbnTdAAzYShovog8708.jpg">
  </div>
</div>